extends layout

block content
  div.container-fluid
    div.row
      div#introduction.part.col-lg-2.col-md-3.col-sm-4.col-xs-12
        div 前端开发实习生
        div 李为
        div 中山大学软件工程
        div.infor-item 
          img#infor-icon-graduate(src='/images/graduate.png')
          span.infor-value 18届本科毕业生
        div.infor-item 
          span.glyphicon.glyphicon-earphone 
          span.infor-value 18826072459
        div.infor-item 
          span.glyphicon.glyphicon-envelope 
          span.infor-value 123653079@qq.com
        div.infor-item 
          span.glyphicon.glyphicon-home 
          a.infor-value(href='http://liveipool.com' target='_blank') liveipool.com
        div.infor-item 
          img#infor-icon-github(src='/images/github_one.png')
          a.infor-value(href='https://github.com/Liveipool' target='_blank') github@Liveipool
        div#school-position-title 在校职位
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 校足球队队员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 现代Web实验室成员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 数据科学与计算机学院足球队队长
        div.image
          img(src='/images/weixin.jpg')
        div.wechat-name Liveipool
      div#experience.part.col-lg-6.col-md-9.col-sm-8.col-xs-12
        h1 项目经历
        div.experience-title 前端学习历程
          span.experience-time 2015.10至今
        div.conclusion-text#conclusion-text-first 起步
        div.conclusion#conclusion-first 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 大二上学期通过web2.0课程<strong>接触并喜欢上</strong>前端开发，一直学习至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 凭借课程<strong>前30名</strong>的成绩进入<strong>“中山大学现代web实验室”</strong>
        div.experience-title 实验室项目"MA"
          a(href='http://liveipool.com/blog/2017/02/16/MA-Screenshot/' target='_blank') 运行截图
          span.experience-time 2016.7～2016.10
        div.conclusion-text#conclusion-text-second 经验
        div.conclusion#conclusion-second 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail “My Achievements”项目是下一届web2.0课程<strong>作业提交系统</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目于16年10月～12月投入使用，表现良好，我作为成员参与其中
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用<strong>AngularJS</strong>、Angular Material框架，jQuery类库
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用loopback框架，语言为Node.js
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 数据库使用mongodb，使用gitlab作为代码仓库
        div.experience-title 搭建个人博客
          a(href='http://liveipool.com/' target='_blank') 博客地址
          a(href='https://github.com/Liveipool/Liveipool.github.io' target='_blank') 源代码
          span.experience-time 2016.9
        div.conclusion-text#conclusion-text-third 积累
        div.conclusion#conclusion-third 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 受阮一峰等大牛影响，养成写<strong>个人博客</strong>的习惯
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 记录学习，总结收获，如今已写百篇以上
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用Github Pages进行搭建，并链接上自己的域名：
          a(href='http://liveipool.com/about/' target='_blank') <strong>liveipool.com</strong>
        div.experience-title 搭建前端学习框架
          a(href='http://liveipool.com/blog/2016/12/15/Use-Gulp-To-Build-A-Simple-Framework/' target='_blank') 记录文章
          a(href='https://github.com/Liveipool/studying-frame' target='_blank') 源代码
          span.experience-time 2016.12
        div.conclusion-text#conclusion-text-fourth 苦练
        div.conclusion#conclusion-fourth 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用<strong>gulp</strong>搭建了一个简单的前端学习框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 常用其进行<strong>前端开发练习</strong>，学习ES6、HTML5、CSS3的新特性等
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 其中jade作为模板语言，sass作为css预处理语言
        div.experience-title 项目 “HWFC”
          a(href='http://liveipool.com/blog/2017/02/16/HWFC-Requirements-Documentation/' target='_blank') 项目文档
          a(href='https://github.com/Liveipool/HWFC' target='_blank') 源代码
          span.experience-time 2016.12至今
        div.conclusion-text#conclusion-text-fifth 兴趣
        div.conclusion#conclusion-fifth 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail HWFC项目是院足球队官方网站，目前即将结束设计和策划阶段
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为<strong>主要负责人之一</strong>，凭<strong>兴趣</strong>招集团队进行开发
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用<strong>Vue.js</strong>、Bootstrap框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用Express框架，语言为Node.js
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用mongodb数据库，github作为代码仓库
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用石墨文档<strong>协同</strong>文档开发，ProcessOn协同原型图的设计
        div.experience-title 开发并上线个人简历
          a(href='http://liveipool.com/blog/2017/02/11/Set-up-a-small-project-with-qCloud/' target='_blank') 记录文章 
          a(href='https://github.com/Liveipool/resume' target='_blank') 源代码
          span.experience-time 2017.2
        div.conclusion-text#conclusion-text-sixth 实习
        div.conclusion#conclusion-sixth 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 开发个人简历页面用于实习生春招，购买云服务器进行<strong>配置上线</strong>
        div.experience-item.part-bottom
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用Bootsrtap框架进行<strong>响应式设计</strong>，后端使用Express框架
      div#skill.part.col-lg-4.col-md-12.col-sm-12.col-xs-12
        h1 技术能力
        div.skill-title HTML
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTML的使用,了解<strong>HTML5</strong>的新特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过模板语言<strong>jade</strong>,了解其优点
        div.skill-title CSS
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉CSS的使用，了解<strong>CSS3</strong>新特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过预处理语言<strong>Sass</strong>，了解其优点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过<strong>Bootstrap</strong>前端框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解Google Material Design的一些基本思想
        div.skill-title JavaScript
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>JavaScript</strong>和<strong>ECMAScript</strong>的关系及发展
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉JavaScript的使用
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉闭包、Ajax、模块化等重要知识点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>ES2015</strong>各新特性，正在使用实战进行深入学习
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 关注ES2016、ES2017的动态
        div.skill-title 前端 类库/框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用但不依赖<strong>jQuery</strong>，了解其主要思想及优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过<strong>AngularJS</strong>，了解其部分特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习<strong>Vue.js</strong>，了解其双向绑定的原理
        //- div.skill-item
        //-   span.glyphicon.glyphicon-check
        //-   span.skill-detail 了解Angular、Vue、React主流框架各自的核心思想、优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>MVC</strong>和<strong>MVVM</strong>的区别及各自的优缺点
        div.skill-title 构建/开发 工具
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过<strong>gulp</strong>进行搭建简单的前端框架，了解其主要思想
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习<strong>webpack</strong>
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 多次使用<strong>Git</strong>进行团队开发
        div.skill-title 后端、数据库
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够在项目中使用<strong>Nodejs</strong>编写常用后端代码
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过后端框架<strong>Express</strong>和loopback
        div.skill-item.part-bottom
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用<strong>mongodb</strong>数据库
        //- div.skill-item.part-bottom
        //-   span.glyphicon.glyphicon-check
        //-   span.skill-detail 熟悉HTTP、TCP、IP、DNS等底层协议
