extends layout

block content
  div.container-fluid
    div.row
      div.introduction.col-md-3.col-sm-6.col-xs-12 lalal
      div.skill.col-md-5.col-sm-6.col-xs-12 hahah
      div.experience.col-md-4.col-sm-12.col-xs-12 ooooo
