extends layout

block content
  div.container-fluid
    div.row
      div.part.introduction.col-lg-3.col-md-6.col-sm-6.col-xs-12
        div 前端开发实习生
        div 李为
        div 中山大学软件工程
        div.infor-name 手机
          span.glyphicon.glyphicon-earphone 
          span.infor-value 18826072459
        div.infor-name 邮箱
          span.glyphicon.glyphicon-envelope 
          span.infor-value 123653079(QQ)
        div.infor-name 博客
          span.glyphicon.glyphicon-home 
          a.infor-value(href='http://liveipool.com') liveipool.com
        div.infor-name Github
          span.glyphicon.glyphicon-tag 
          a.infor-value(href='https://github.com/Liveipool') github@Liveipool
        div.infor-name 在校职位
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 校足球队队员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 中山大学现代Web实验室成员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 数据科学与计算机学院足球队队长
        div.image
          img(src='/images/weixin.jpg')
        div.wechat-name Liveipool
      div.part.skill.col-lg-5.col-md-6.col-sm-6.col-xs-12
        h1 技术能力
        div.skill-title HTML(结构)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTML的使用,了解HTML5的新特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过模板语言jade,了解其优点
        div.skill-title CSS(表现)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉CSS的使用，了解CSS3的新特性，如渐变、动画等。关注CSS4的动态
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过预处理语言Sass，了解其优点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过Bootstrap，了解其响应式的原理，了解Google Material Design。
        div.skill-title JavaScript(行为)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解JavaScript和ECMAScript的关系及发展史
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉JavaScript的使用，对闭包、原型、this、Ajax等重要知识点有较为深入的理解
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解ES2015各新特性，正在使用实战进行深入学习，关注ES2016、ES2017的动态
        div.skill-title 前端 类库/框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用但不依赖 jQuery，了解其主要思想及优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过AngularJS，了解其部分特性。
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习Vue，了解其双向绑定的原理等
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解Angular、Vue、React主流框架各自的核心思想、优缺点。了解MVC和MVVM的区别及各自的优缺点。
        div.skill-title 构建/开发 工具
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过gulp进行搭建简单的前端框架，了解其核心思想以及它能超越grunt的原因。
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习webpack，了解其核心思想。
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够熟练使用Git进行团队开发
        div.skill-title 后端、数据库、底层知识
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过后端框架Express和loopback，了解核心概念
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够在项目中使用Nodejs实现部分功能，了解其原理和常见的使用
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过mongodb作为数据库，能进行数据的增删差改等操作。
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTTP、TCP、IP、DNS等底层协议
      div.part.experience.col-lg-4.col-md-12.col-sm-12.col-xs-12
        h1 项目经历
        div.experience-title 前端学习历程
          span.experience-time 2015.10至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 大二上学期通过web2.0课程接触到前端开发，一直学习至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 凭借课程前30名的成绩进入“中山大学现代web实验室”
        div.experience-title 实验室项目 MA
          span.experience-time 2016.7～2017.10
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为成员参与实验室“My-Achivements”项目，开发2015级Web2.0课程作业提交系统,项目于2016年10月～2017年1月投入使用，表现良好。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用AngularJS、Angular Material框架，jQuery类库。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用loopback框架，语言为Node.js。数据库使用mongodb，版本控制采用git，使用gitlab作为代码仓库。

        div.experience-title 搭建个人博客
          span.experience-time 2016.9
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 受阮一峰、张秋怡（中大直系师姐）的影响，养成写个人博客的习惯
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 博客使用Github Pages进行搭建，并购买自己相关的域名，配置在DNS服务器上用于链接：liveipool.com

        div.experience-title 搭建前端学习框架
          span.experience-time 2016.12
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用gulp前端自动构建工具，搭建了一个简单的前端学习框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 其中加入了jade作为模板语言，安装了sass作为css预处理语言。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 如今常用其进行各种前端开发的练习，如学习ES6的新特性，操作HTML5、CSS3的新特性等

        div.experience-title 开发项目 “HWFC”
          span.experience-time 2017.1至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为两位主要负责人之一，开发学院足球队官方网站，目前即将结束确定需求和设计阶段。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用Vue.js、Bootstrap框架，后端使用Express框架，语言为Node.js
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 数据库使用mongodb，版本控制用git，使用github作为代码仓库。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用石墨文档协同文档开发，使用ProcessOn协同原型图设计。

        div.experience-title 开发并上线个人简历
          span.experience-time 2017.2
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用Bootsrtap框架进行响应式设计，后端使用Exoress框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 进行简历的开发,并购买云服务器进行配置上线。