extends layout

block content
  div.container-fluid
    div.row
      div#introduction.part.col-md-3.col-sm-4.col-xs-12.col-lg-2
        div 前端开发工程师
        div 李为
        div 中山大学软件工程
        div.infor-item 
          img#infor-icon-graduate(src='/images/graduate.png')
          span.infor-value 18届本科毕业生
        div.infor-item 
          span.glyphicon.glyphicon-earphone 
          span.infor-value 18826072459
        div.infor-item 
          span.glyphicon.glyphicon-envelope 
          span.infor-value 123653079@qq.com
        div.infor-item 
          span.glyphicon.glyphicon-home 
          a.infor-value(href='http://liveipool.com' target='_blank') liveipool.com
        div.infor-item 
          img#infor-icon-github(src='/images/github_one.png')
          a.infor-value(href='https://github.com/Liveipool' target='_blank') github@Liveipool
        div#school-position-title 在校职位
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 校足球队队员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 现代Web实验室成员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 数据科学与计算机学院足球队队长
        div.image
          img(src='/images/weixin.jpg')
        div.wechat-name Liveipool
      div#experience.part.col-md-9.col-sm-8.col-xs-12.col-lg-6
        h1 项目经历
        div.experience-title 前端学习历程
          span.hidden-xs.hidden-sm.experience-time 2015.10至今
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-first 起步
        div.hidden-xs.hidden-sm.conclusion#conclusion-first 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 大二上学期通过web2.0课程<strong>接触并喜欢上</strong>前端开发，一直学习至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 凭借课程<strong>前30名</strong>的成绩进入<strong>“中山大学现代web实验室”</strong>
        div.experience-title 实验室项目"MA"
          a.hidden-xs(href='http://liveipool.com/blog/2017/02/16/MA-Screenshot/' target='_blank') 运行截图
          span.hidden-xs.hidden-sm.experience-time 2016.7-10
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-second 初探
        div.hidden-xs.hidden-sm.conclusion#conclusion-second 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail “My Achievement”项目是下一级web2.0课程<strong>作业提交系统</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目于16年10月-12月投入使用，表现良好，我作为成员参与其中
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用AngularJS框架，jQuery类库
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端语言为Node.js，使用mongodb作为数据库，gitlab作为代码仓库
        div.experience-item.visible-xs-block
          span.glyphicon.glyphicon-send
          a.experience-detail(href='http://liveipool.com/blog/2017/02/16/MA-Screenshot/' target='_blank') <strong>运行截图</strong>
        div.experience-title 搭建个人博客
          a.hidden-xs(href='http://liveipool.com/' target='_blank') 博客地址
          a.hidden-xs(href='https://github.com/Liveipool/Liveipool.github.io' target='_blank') 源代码
          span.hidden-xs.hidden-sm.experience-time 2016.9
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-third 积累
        div.hidden-xs.hidden-sm.conclusion#conclusion-third 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 受阮一峰等大牛影响，养成写<strong>个人博客</strong>的习惯
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用Github Pages进行搭建，并链接上自己的域名：
          a(href='http://liveipool.com/about/' target='_blank') <strong>liveipool.com</strong>
        div.experience-item.visible-xs-block
          span.glyphicon.glyphicon-send
          a.experience-detail(href='http://liveipool.com/' target='_blank') <strong>博客地址</strong>
          a.experience-detail-anchor(href='https://github.com/Liveipool/Liveipool.github.io' target='_blank') <strong>源代码</strong>

        //- div.experience-title 搭建前端学习框架
        //-   a.hidden-xs(href='http://liveipool.com/blog/2016/12/15/Use-Gulp-To-Build-A-Simple-Framework/' target='_blank') 记录文章
        //-   a.hidden-xs(href='https://github.com/Liveipool/studying-frame' target='_blank') 源代码
        //-   span.hidden-xs.hidden-sm.experience-time 2016.12
        //- div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-fourth 苦练
        //- div.hidden-xs.hidden-sm.conclusion#conclusion-fourth 
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 使用<strong>gulp</strong>搭建了一个简单的前端学习框架
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 常用其进行<strong>前端开发练习</strong>，学习ES6、HTML5、CSS3的新特性等
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 其中jade作为模板语言，sass作为css预处理语言
        //- div.experience-item.visible-xs-block
        //-   span.glyphicon.glyphicon-send
        //-   a.experience-detail(href='http://liveipool.com/blog/2016/12/15/Use-Gulp-To-Build-A-Simple-Framework/' target='_blank') <strong>记录文章</strong>
        //-   a.experience-detail-anchor(href='https://github.com/Liveipool/studying-frame' target='_blank') <strong>源代码</strong>
        //- div.experience-title 项目 “HWFC”
        //-   a.hidden-xs(href='https://github.com/hwfc/hwfc-dashboard' target='_blank') 项目文档
        //-   a.hidden-xs(href='https://github.com/hwfc' target='_blank') 源代码
        //-   span.hidden-xs.hidden-sm.experience-time 2016.12至今
        //- div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-fifth 兴趣
        //- div.hidden-xs.hidden-sm.conclusion#conclusion-fifth 
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail HWFC项目是院足球队官方网站，目前即将结束设计和策划阶段
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 作为<strong>主要负责人之一</strong>，凭<strong>兴趣</strong>招集团队进行开发
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 前端使用<strong>Vue.js</strong>、Webpack、Bootstrap框架
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 后端使用Express框架，语言为Node.js
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 使用mongodb数据库，github作为代码仓库
        //- div.experience-item
        //-   span.glyphicon.glyphicon-send
        //-   span.experience-detail 使用石墨文档<strong>协同</strong>文档开发，ProcessOn协同原型图设计
        //- div.experience-item.visible-xs-block
        //-   span.glyphicon.glyphicon-send
        //-   a.experience-detail(href='https://github.com/hwfc/hwfc-dashboard' target='_blank') <strong>项目文档</strong>
        //-   a.experience-detail-anchor(href='https://github.com/hwfc' target='_blank') <strong>源代码</strong>
        div.experience-title 开发上线个人简历
          a.hidden-xs(href='http://liveipool.com/blog/2017/02/11/Set-up-a-small-project-with-qCloud/' target='_blank') 记录文章 
          a.hidden-xs(href='https://github.com/Liveipool/resume' target='_blank') 源代码
          span.hidden-xs.hidden-sm.experience-time 2017.2
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-sixth 总结
        div.hidden-xs.hidden-sm.conclusion#conclusion-sixth 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 开发个人简历页面用于实习生春招，购买云服务器进行<strong>配置上线</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用Bootsrtap框架进行<strong>响应式设计</strong> 
        div.experience-item.part-bottom.visible-xs-block
          span.glyphicon.glyphicon-send
          a.experience-detail(href='http://liveipool.com/blog/2017/02/11/Set-up-a-small-project-with-qCloud/' target='_blank') <strong>记录文章</strong> 
          a.experience-detail-anchor(href='https://github.com/Liveipool/resume' target='_blank') <strong>源代码</strong>
        div.division

        h1 实习经历
        div.experience-title 广州探迹科技有限公司
          a.hidden-xs(href='https://www.tungee.com/' target='_blank') 官网
          span.hidden-xs.hidden-sm.experience-time 2017.5-7
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-first 提升
        div.hidden-xs.hidden-sm.conclusion#conclusion-first 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为前端实习生，参与公司主打产品的开发
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目使用<strong>react</strong>作为前端库，并使用redux架构

        div.experience-title 商汤科技
          a.hidden-xs(href='http://www.sensetime.com/' target='_blank') 官网
          //- img.sensetime.hidden-xs.hidden-sm(src="/images/sensetime.png")
          span.hidden-xs.hidden-sm.experience-time 2017.7至今
        div.hidden-xs.hidden-sm.conclusion-text#conclusion-text-second 历练
        div.hidden-xs.hidden-sm.conclusion#conclusion-second 
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为前端实习生，参与公司重要web应用的开发，该应用alpha版本即将发布
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目使用<strong>vue</strong>作为前端框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 我在项目中负责组件、页面的开发和集成等工作
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目使用muse-ui作为前端UI库，我们项目组正基于其开发自己的UI库

      div#skill.part.col-md-12.col-sm-12.col-xs-12.col-lg-4
        h1 技术能力
        div.skill-title HTML
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTML的使用
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过模板语言<strong>jade/pug</strong>,了解其优点
        div.skill-title CSS
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉CSS的使用
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过预处理语言<strong>Sass</strong>，了解其优点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过一些主流前端UI库
        div.skill-title JavaScript
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉JavaScript的使用
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>JavaScript</strong>和<strong>ECMAScript</strong>的关系及发展
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉闭包、原型、Ajax等重要知识点
        div.skill-title 类库/框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用但不依赖<strong>jQuery</strong>，了解其主要思想及优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过<strong>vue.js</strong>和<strong>React</strong>，了解基本使用及思想
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>MVC</strong>和<strong>MVVM</strong>的基本思想
        div.skill-title 构建/开发 工具
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过<strong>gulp</strong>、<strong>webpack</strong>进行搭建简单的前端框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 多次使用<strong>Git</strong>进行团队开发
        div.skill-title 后端、数据库
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过<strong>Nodejs</strong>编写常用后端代码
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过后端<strong>Express</strong>框架、<strong>mongodb</strong>数据库
