extends layout

block content
  div.container-fluid
    div.row
      div#introduction.part.col-lg-3.col-md-5.col-sm-5.col-xs-12
        div#anim 前端开发实习生
        div 李为
        div 中山大学软件工程
        div.infor-name 手机
          span.glyphicon.glyphicon-earphone 
          span.infor-value 18826072459
        div.infor-name 邮箱
          span.glyphicon.glyphicon-envelope 
          span.infor-value 123653079(QQ)
        div.infor-name 博客
          span.glyphicon.glyphicon-home 
          a.infor-value(href='http://liveipool.com' target='_blank') liveipool.com
        div.infor-name Github
          span.glyphicon.glyphicon-tag 
          a.infor-value(href='https://github.com/Liveipool' target='_blank') github@Liveipool
        div.infor-name 在校职位
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 校足球队队员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 中山大学现代Web实验室成员
          div
            span.glyphicon.glyphicon-user.school-position-icon
            span.school-position 数据科学与计算机学院足球队队长
        div.image
          img(src='/images/weixin.jpg')
        div.wechat-name Liveipool
      div#skill.part.col-lg-5.col-md-7.col-sm-7.col-xs-12
        h1 技术能力
        div.skill-title HTML(结构)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTML的使用,了解<strong>HTML5</strong>的新特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过模板语言<strong>jade</strong>,了解其优点
        div.skill-title CSS(表现)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉CSS的使用，了解<strong>CSS3</strong>的新特性，如渐变、动画等。关注CSS4的动态
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过预处理语言<strong>Sass</strong>，了解其优点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过<strong>Bootstrap</strong>，了解其响应式的原理
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解Google Material Design,使用过Angular Material框架
        div.skill-title JavaScript(行为)
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>JavaScript</strong>和<strong>ECMAScript</strong>的关系及发展史
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉JavaScript的使用，对闭包、原型、Ajax等重要知识点有较为深入的理解
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>ES2015</strong>各新特性，正在使用实战进行深入学习，关注ES2016、ES2017的动态
        div.skill-title 前端 类库/框架
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用但不依赖<strong>jQuery</strong>，了解其主要思想及优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 在项目中使用过<strong>AngularJS</strong>，了解其部分特性
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习<strong>Vue.js</strong>，了解其双向绑定的原理等
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解Angular、Vue、React主流框架各自的核心思想、优缺点
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 了解<strong>MVC</strong>和<strong>MVVM</strong>的区别及各自的优缺点
        div.skill-title 构建/开发 工具
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过<strong>gulp</strong>进行搭建简单的前端框架，了解其核心思想以及它能取代grunt的原因
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 正在项目中深入学习<strong>webpack</strong>，了解其核心思想
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够熟练使用<strong>Git</strong>进行团队开发
        div.skill-title 后端、数据库、底层知识
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 使用过后端框架<strong>Express</strong>和loopback，了解核心概念
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够在项目中使用<strong>Nodejs</strong>编写常用的后台代码,了解其重要概念
        div.skill-item
          span.glyphicon.glyphicon-check
          span.skill-detail 能够使用<strong>mongodb</strong>数据库
        div.skill-item.part-bottom
          span.glyphicon.glyphicon-check
          span.skill-detail 熟悉HTTP、TCP、IP、DNS等底层协议
      div#experience.part.col-lg-4.col-md-12.col-sm-12.col-xs-12
        h1 项目经历
        div.experience-title 前端学习历程
          span.experience-time 2015.10至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 大二上学期通过web2.0课程接触到前端开发，一直学习至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 凭借课程前30名的成绩进入<strong>“中山大学现代web实验室”</strong>

        div.experience-title 实验室项目 MA
          span.experience-time 2016.7～2017.10
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为成员参与“My Achievements”项目，开发下一年课程<strong>作业提交系统</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 项目于2016年10月～12月投入使用，表现良好：
          a(href='http://liveipool.com/blog/2017/02/16/MA-Screenshot/' target='_blank') <strong>运行截图</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用AngularJS、Angular Material框架，jQuery类库
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用loopback框架，语言为Node.js
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 数据库使用mongodb，使用gitlab作为代码仓库

        div.experience-title 搭建个人博客
          span.experience-time 2016.9
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 受阮一峰等大牛影响，养成写<strong>个人博客</strong>的习惯
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 博客使用Github Pages进行搭建
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 在DNS服务器上配置链接自己的域名：
          a(href='http://liveipool.com/about/' target='_blank') <strong>liveipool.com</strong>
        div.experience-title 搭建前端学习框架
          span.experience-time 2016.12
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用gulp搭建了一个简单的<strong>前端学习框架</strong>：
          a(href='https://github.com/Liveipool/studying-frame' target='_blank') <strong>studying-frame</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 其中jade作为模板语言，sass作为css预处理语言。
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 常用其进行前端开发的练习，学习ES6、HTML5、CSS3的新特性等

        div.experience-title 开发项目 “HWFC”
          span.experience-time 2016.12至今
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 作为主要负责人之一，开发院足球队网站，目前即将结束设计和策划阶段
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用Vue.js、Bootstrap框架
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用Express框架，语言为Node.js
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用mongodb数据库，github作为代码仓库：
          a(href='https://github.com/Liveipool/HWFC' target='_blank') <strong>HWFC</strong>
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 使用石墨文档协同文档开发：
          a(href='http://liveipool.com/blog/2017/02/16/HWFC-Requirements-Documentation/' target='_blank') <strong>项目文档</strong>

        div.experience-title 开发并上线个人简历
          span.experience-time 2017.2
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 前端使用Bootsrtap框架进行响应式设计
        div.experience-item
          span.glyphicon.glyphicon-send
          span.experience-detail 后端使用Express框架
        div.experience-item.part-bottom
          span.glyphicon.glyphicon-send
          span.experience-detail 购买云服务器进行<strong>配置上线</strong>