/*整体布局*/
body {
  margin: 0;
  padding: 0 20px;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-fluid {
  margin-top: 20px;
}
.part {
  padding: 5px !important;
  border: 1px solid #454545;
}
a {
  /*text-decoration: underline !important;*/
  border-bottom: 1px solid #fff;
  text-decoration: none !important;
}
strong {
  color: #009999;
}
.part-bottom {
  margin-bottom: 5px;
}

/*个人信息板块*/
#introduction {
  background-color: #009999;
  color: #fff;
}

/*职位、名字和学校专业*/
#introduction > div:nth-child(-n + 3) {
  font-weight: bold;
  text-align: center;
  margin: 10px -3px 0 -3px;
  font-size: 23px;
}

/*顶部的职位*/
#introduction > div:nth-child(1) {
  font-size: 32px;
  font-family: monospace !important;
  font-weight: bold;
  margin-top: 15px;
}

/* 五条个人信息 */
.infor-item {
  font-size: 21px;
  margin: 18px 0 0 0;
}
.infor-item:nth-child(4) {
  margin-top: 25px;
}
#infor-icon-graduate {
  width: 25px;
  height: 30px;
}
.infor-item > .glyphicon {
  color: #454545;
  margin-left: 3px;
}
#infor-icon-github {
  margin-left: 1px;
  width: 25px;
  height: 26px;
}
/* 五条个人信息的值 */
.infor-value {
  font-size: 19px;
  margin-left: 12px;
}
.glyphicon-home + .infor-value {
  margin-left: 13px;
}
#infor-icon-graduate + .infor-value {
  margin-left: 9px;
}
.infor-item > a {
  color: #fff;
}
.infor-item > a:hover {
  color: #454545;
  font-size: 20px;
}

/* 在校职位 */
#school-position-title {
  margin: 25px 0 0 2px;
  font-size: 18px;
}
/* 三条职位 */
#introduction > div:nth-child(9) > div {
  margin: 13px 0 0 5px; 
}
.school-position-icon {
  font-size: 16px;
  color: #454545;
}
.school-position {
  font-size: 16px;
  margin-left: 4px;
}

/* 二维码和微信名*/
#introduction > .image {
  margin: 35px auto 0 auto;
}
#introduction > .image,
img {
  width: 170px;
  height: 170px;
}
.wechat-name {
  margin: 5px auto 0 auto;
  font-size: 30px;
  text-align: center;
}

/* 项目经历和技术能力*/
/* 大标题 */
#skill > h1,
#experience > h1 {
  margin: 25px 0 0 20px;
  font-size: 28px;
  font-weight: bold;
}
/* 各小标题 */
.skill-title,
.experience-title {
  margin: 10px 18px 10px 18px;
  padding: 2px 8px 0 8px;
  background-color: #454545;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.experience-title > a {
  color: #F2F2F2;
  font-size: 17px;
  margin-left: 20px;
  border-bottom: 0;
  text-decoration: underline !important;
}
.experience-title > a:hover {
  color: #009999;
  font-size: 18px;
  margin-left: 20px;
}
.experience-time {
  float: right;
}

.experience-item {
  margin: 0 18px 0 28px;
  font-size: 16px;
}
.experience-item > a {
  border-bottom: 1px solid #009999;
}
.skill-item {
  margin: 0 18px 0 30px;
  font-size: 16px;
}
.skill-detail,
.experience-detail {
  margin-left: 5px;
}
.experience-detail-anchor {
  margin-left: 15px;
}

/* 每个项目经历的总结 */
.conclusion-text {
  font-size: 22px;
  float: left;
  margin-left: 30px;
  font-weight: bold;
  color: #454545;
}
#conclusion-text-first {
  margin-top: 7px;
}
#conclusion-text-second {
  margin-top: 38px;
}
#conclusion-text-third {
  margin-top: 17px;
}
#conclusion-text-fourth {
  margin-top: 17px;
}
#conclusion-text-fifth {
  margin-top: 51px;
}
#conclusion-text-sixth {
  margin-top: 9px;
}

.conclusion {
  float: left;
  margin: 0 8px 0 14px;
  background-color: #454545;
  border-radius: 10%;
  width: 3px;

  background-image: linear-gradient(#009999 50%, #454545 0);
}
#conclusion-first {
  height: 43px;
  /*background-image: linear-gradient(#009999 10%, #454545 0);*/
}
#conclusion-second {
  height: 108px;
  /*background-image: linear-gradient(#009999 20%, #454545 0);*/
}
#conclusion-third {
  height: 64px;
  /*background-image: linear-gradient(#009999 30%, #454545 0);*/
}
#conclusion-fourth {
  height: 64px;
  /*background-image: linear-gradient(#009999 40%, #454545 0);*/
}
#conclusion-fifth {
  height: 129px;
  /*background-image: linear-gradient(#009999 50%, #454545 0);*/
}
#conclusion-sixth {
  height: 43px;
  /*background-image: linear-gradient(#009999 60%, #454545 0);*/
}



/*闪烁动画*/
/*@keyframes blink-smooth {
  to {color: transparent;}
}
@-moz-keyframes blink-smooth {
  to {color: transparent;}
}
@-o-keyframes blink-smooth {
  to {color: transparent;}
}
@-webkit-keyframes blink-smooth {
  to {color: transparent;}
}

#introduction > div:nth-child(1) {
  animation: .5s blink-smooth 6 alternate;
  -moz-animation: .5s blink-smooth 6 alternate;
  -webkit-animation: .5s blink-smooth 6 alternate;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}*/
/*  animation: blink-smooth 2s steps(7);
  white-space: nowrap;
  overflow: hidden;*/
