html {
  /*height: 100%;*/
}

body {
  margin: 0;
  padding: 0 20px;
  /*height: 100%;*/
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container-fluid {
  margin-top: 20px;
}

.part {
  padding: 5px !important;
  border: 1px solid #454545;
}

#introduction {
  background-color: #009999;
  color: #fff;
}

#introduction > div:nth-child(-n + 3) {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
}

#introduction > div:nth-child(1) {
  margin-top: 15px;
  font-size: 37px;
  font-family: monospace !important;
}

.infor-name {
  font-size: 21px;
  margin: 18px 0 0 10px;
}

.infor-name > .glyphicon {
  color: #454545;
  margin-left: 4px;
}

.infor-value {
  font-size: 20px;
  margin-left: 12px;
}

span[class="infor-value"],
.glyphicon-home ~ a {
  margin-left: 32px;
}

.infor-name > a {
  color: #fff;
}

#introduction > div:nth-child(8) > div {
  margin: 10px 0 0 8px; 
}

.school-position {
  font-size: 17px;
  margin-left: 4px;
}

.school-position-icon {
  font-size: 16px;
  color: #454545;
}

#introduction > .image {
  margin: 40px auto 0 auto;
}

#introduction > .image,
img {
  width: 200px;
  height: 200px;
}

.wechat-name {
  margin: 0 auto 0 auto;
  font-size: 30px;
  text-align: center;
}

#skill > h1,
#experience > h1 {
  margin: 25px 0 0 20px;
  font-size: 30px;
  font-weight: bold;
}

.skill-title,
.experience-title {
  margin: 10px 20px 10px 20px;
  padding: 0 10px 0 10px;
  background-color: #454545;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.skill-item,
.experience-item {
  margin: 0 20px 0 30px;
  font-size: 15px;
}

.skill-detail,
.experience-detail {
  margin-left: 5px;
}

.experience-time {
  float: right;
}

strong {
  color: #009999;
}

.part-bottom {
  margin-bottom: 10px;
}

a {
  text-decoration: underline !important;
}